
<h1> DETAILS!!! </h1> 

<ul> 
<li> {{description}} </li>
<li> {{duration}} </li>
<li> {{embed_privacy}} </li>
<li> {{height}} </li>
<li> {{id}} </li>
<li> {{stats_number_of_comments}} </li>
<li> {{stats_number_of_likes}} </li>
<li> {{stats_number_of_plays}} </li>
<li> {{tags}} </li>
<li> {{thumbnail_large}} </li>
<li> {{thumbnail_medium}} </li>
<li> {{thumbnail_small}} </li>
<li> {{title}} </li>
<li> {{upload_date}} </li>
<li> {{url}} </li>
<li> {{user_id}} </li>
<li> {{user_name}} </li>
<li> {{user_portrait_huge}} </li>
<li> {{user_portrait_large}} </li>
<li> {{user_portrait_medium}} </li>
<li> {{user_portrait_small}} </li>
<li> {{user_url}} </li>
</ul>